--- 
layout: default
---

<h1>Coinium.ch <small>Die Coinommunity</small></h1>

<p>Coinium ist ein schweizer Projekt, dass möglichst viele und leicht verständliche Informationen zu Bitcoin und alternativen Kryptowährungen zusammen trägt.</p>

<p>Wir sind derzeit noch am Aufbauen und freuen uns jederzeit über neue <a href="/about/mitmachen">Beiträge</a>.</p>

<div class="posts-list">
    <h3>Aktuelle Blogposts:</h3>
    {% for post in paginator.posts %}
    <article>
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h4 class="postTitle">{{ post.title }}</h4>
        </a>

        <p class="text-muted">
            <small>Erstellt am {{ post.date | date: "%d.%m.%Y" }} von {{ post.author }}.</small>
        </p>

        <div>
            {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
            <br/><br/>
            <a href="{{ post.url | prepend: site.baseurl }}" class="readMoreLink">&raquo; [Weiterlesen]</a>
        </div>

        <hr />
    </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <ul class="pager main-pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Neuere Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Ältere Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>

