@import 'bootstrap_custom';
@import 'font-awesome';

h1, h2 {
  margin-top: 10px
}

h3, h4, h5 {
  margin-top: 5px;
}

.container,
.container-fluid {
  margin-top: 25px;
  margin-bottom: 25px;
}

.card {
  margin: 10px 0;

  .card-img-top {
    padding: 10px;
  }

  a.currency-link {
    display: block;
    width: 100%;
    text-align: center;

    .card-img-top {
      width: auto;
      height: 65px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.posts-list {
  margin-top: 10px;

  article {
    margin: 10px 0;

    .readMoreLink {
      display: block;
      text-align: right;
    }
  }
}

.waehrung {
  aside {
    float: right;
    width: 20em;
    margin-left: 15px;
    margin-top: -10px;
    margin-bottom: 15px;

    img.card-img-top {
      width: auto;
      height: auto;
      max-height: 150px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

footer {
  background-color: #f9f9f9;

  p {
    padding: 15px 0;
  }
}