---
layout: default
comments: true 
---

<div class="row">
    <div class="col-md-8">
        <article>
            <h1>{{ page.title }}</h1>
            <span class="text-muted"><small>Erstellt am {{ page.date | date: "%d.%m.%Y" }} von {{ page.author }}.</small></span>

            {{ content }}

            <ul class="pager blog-pager">
                {% if page.previous.url %}
                <li class="previous">
                    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top"
                       title="{{page.previous.title}}">&larr; Vorheriger Beitrag</a>
                </li>
                {% endif %} {% if page.next.url %}
                <li class="next">
                    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Nächster Beitrag &rarr;</a>
                </li>
                {% endif %}
            </ul>
        </article>

        {% if page.comments %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% include disqus.html %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Aktuelle Beiträge</h4>
                <p class="card-text">
                    <ul>
                        {% for post in site.posts offset: 0 limit: 5  %}
                        <li>
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>


        <!--div class="panel panel-default">
            <div class="panel-heading">
                <span class="text-primary"><b>Kategorien</b></span>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    {% for category in site.categories %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" name="{{ category | first }}" 
                                   href="#{{ category | first }}">
                                    {{ category | first }}
                                </a>
                            </h5>
                        </div>
                        
                        {% if forloop.index == 1 %}
                        <div id="{{ category | first }}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    {% for posts in category %} {% for post in posts %}
                                    {% if post.url %} 
                                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                                    {% endif %}
                                    {% endfor %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div id="{{ category | first }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    {% for posts in category %} {% for post in posts %}
                                    {% if post.url %}
                                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                                    {% endif %}
                                    {% endfor %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}                       
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div-->

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Disclaimer</h4>
                <p class="card-text">
                    Die Meinungen in diesem Blog stellen die persönliche Sicht des jeweiligen Autors dar. Sie stellen keine Handlungsempfehlungen dar.
                </p>
            </div>
        </div>
    </div>
</div>