---
layout: wiki
---
<article class="waehrung">
    <aside>
        <div class="card">
            {% if page.logo %}
            <img class="card-img-top" src="{{ page.logo }}" alt="Logo of the coin">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">Weitere Informationen</h5>
                <p class="card-text">
                    {% if page.website %}
                    <p>
                        <strong>Website:</strong> <a rel="nofollow" class="new-window" href="{{ page.website }}">{{ page.website }}</a>
                    </p>
                    {% endif %}
                    <p>
                        {% if page.creation_year %}
                        <strong>Startjahr:</strong> {{ page.creation_year }}<br>
                        {% endif %}
                        {% if page.creator %}
                        <strong>Erfinder:</strong> {{ page.creator }}
                        {% endif %}
                    </p>
                    <p>
                        <strong>Symbol:</strong> {{ page.symbol }}
                    </p>
                    {% if page.confirmation %}
                    <p>
                      {% if page.confirmation == "PoW" %}
                      <strong>Bestätigungen:</strong> <a href="/glossar/proof-of-work/">PoW</a>
                      {% endif %}
                    </p>
                    {% endif %}
                    <p>
                        <strong>Preis USD:</strong> <span class="cointicker" data-id="{{ page.cmc-id }}">???</span><br>
                        <strong>Preis EUR:</strong> <span class="cointicker" data-id="{{ page.cmc-id }}" data-convert="EUR">???</span><br>
                        <strong>Preis CHF:</strong> <span class="cointicker" data-id="{{ page.cmc-id }}" data-convert="CHF">???</span>
                    </p>
                </p>
            </div>
        </div>
    </aside>

    <h1>{{ page.title }}</h1>
    <p>{{ content }}</p>
</article>