---
layout: wiki
---
<article class="waehrung">
    <aside>
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Weitere Informationen</h6>
                <p class="card-text">
                    <p>
                        <strong>Startjahr:</strong> {{ page.creation_year }}<br>
                        <strong>Erfinder:</strong> {{ page.creator }}
                    </p>
                    <p>
                        <strong>Symbol:</strong> {{ page.symbol }}
                    </p>
                    <p>
                        <strong>Preis USD:</strong> <span class="cointicker" data-id="{{ page.cmc-id }}">???</span><br>
                        <strong>Preis EUR:</strong> <span class="cointicker" data-id="{{ page.cmc-id }}" data-convert="EUR">???</span><br>
                        <strong>Preis CHF:</strong> <span class="cointicker" data-id="{{ page.cmc-id }}" data-convert="CHF">???</span>
                    </p>
                </p>
            </div>
        </div>
    </aside>

    <h1>{{ page.title }}</h1>
    <p>{{ content }}</p>
</article>